@charset "UTF-8";

/* Aparelho em pé(portrait) */

*{
    margin: 0px;
    padding: 0px;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233EFf;
    background-size: contain;
    background-repeat: no-repeat;
    
}

h1{
    color: white;
    text-shadow: 2px 2px 0px #1e33d3;
    padding: 10px;
}
